body {
	font: 12px Verdana;
	background-color:#EEE9E9;
}

h1 {
    color:#CD0000;
    font: 32px Verdana;
}

#container {
    position: relative;
    width: 1024px;
    height: 667px;
    z-index: 0;
    margin-left: auto; margin-right: auto; margin-top: auto;
    background-image:url("../images/background.png");
}

#top{
  height: 70px;
  width:1004px;
  z-index: 1;
  padding-top: 20px;
  padding-left: 20px;
}

#subtitle{
  height: 29px;
  width: 106px;
  background-image:url("../images/subtitle.png");
  margin-top: -32px;
  margin-left: 660px;
}

#sidebar{
  width:19.5%;
  float:right;
  overflow:auto;
  position:relative;
  z-index: 1;
  padding-bottom:10px;
  padding: 1px;
}

#content{
  background-color: #FF0000;
  width:780px;
  height:542px;
  overflow:auto;
  position:relative;
  background-color:#FFFFFF;
  text-align:justify;
  z-index: 3;
  background-image:url("../images/content.png");
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  /**margin-top:-35%;
  *margin-left: 16%;
  *padding: -35% 50% 50% 50%;
  *width:58%;
  *overflow:auto;
  *position:relative;
  *background-color:#FFFFFF;
  *text-align:justify;
  *z-index: 3;
  *background:url("../images/content_ie.png") no-repeat;*/
}

#bottom{
    width:100%;
    height:21px;
    position:relative;
    background-color:#CD0000;
    color:#FFFFFF;
    z-index: 2;
    text-align:center;
}

/*Tabela*/
table.list {border-bottom: 2px solid #F99F43; border-left: 2px solid #F99F43; border-right: 2px solid #F99F43; border-top: 2px solid #F99F43}
table.list th  {border-bottom: 2px solid #F99F43; border-left: 2px solid #F99F43 }
table.list tbody td, table.list tbody tr td { border-bottom: dotted 1px #F99F43; border-left: 1px dotted #F99F43; border-right: 1px dotted #F99F43; border-top: 1px dotted #F99F43; font-size: 11px; padding:7px 10px 7px 3px; }
table.list thead th {
	border:1px solid #F99F43;
	font-size:12px;
	font-weight:normal;
	padding:0pt 3px 3px;
}

table.list thead th a { color: #F99F43; }
table.list thead th a:hover { color: #F99F43; }

/* Issues grid styles by priorities (provided by Wynn Netherland) */

table.list td { padding: 11px 20px 20px 11px; border-top: 1px solid #F99F43; border-right: 1px solid #F99F43 }


table.list ul {margin-top: 10px; margin-bottom: 10px; margin-left: 0; padding-left: 1em}

table.list li { margin-bottom: 10px }

