body {
	font: 12px Verdana;
	background-color:#FF0000;
}

h1 {
    color:#FF0000;
    font: 32px Verdana;
}

#container {
    position: relative;
    width: 1024px;
    z-index: 0;
    margin-left: auto; margin-right: auto; margin-top: auto;
    height: 667px;
    background:url("../images/background.png") no-repeat;

    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
}

#top{
  height: 70px;
  width:1004px;
  z-index: 1;
  padding-top: 20px;
  padding-left: 20px;
}

#title{
  height: 52px;
  width: 255px;
  background:url("../images/title.png") no-repeat;

  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -khtml-background-size: 100% 100%;
}

#subtitle{
  height: 29px;
  width: 130px;
  background:url("../images/subtitle.png") no-repeat;
  margin-top: -32px;
  margin-left: 660px;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -khtml-background-size: 100% 100%;
}

#sidebar{
  width:19.5%;
  float:right;
  overflow:auto;
  position:relative;
  z-index: 1;
  padding-bottom:10px;
  padding: 1px;
}

#blogbutton1{
  height: 120px;
  width: 120px;
  background-image:url("../images/sidebar-blog1.png");
/* background:url("../images/sidebar-blog1.png") no-repeat;
   background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -khtml-background-size: 100% 100%;*/
}

#blogbutton1:hover{
  height: 120px;
  width: 120px;
  background-image:url("../images/sidebar-blog1-s.png");
}

#blogbutton2{
  height: 120px;
  width: 120px;
  margin-top:20px;
  background-image:url("../images/sidebar-blog2.png");
}

#blogbutton2:hover{
  height: 120px;
  width: 120px;
  margin-top:20px;
  background-image:url("../images/sidebar-blog2-s.png");
}

#contactbutton{
  height: 120px;
  width: 120px;
  margin-top:20px;
  background-image:url("../images/sidebar-contact.png");
}

#contactbutton:hover{
  height: 120px;
  width: 120px;
  margin-top:20px;
  background-image:url("../images/sidebar-contact-s.png");
}

#blogrollbutton{
  height: 120px;
  width: 120px;
  margin-top:20px;
  background-image:url("../images/sidebar-blogroll.png");
}

#blogrollbutton:hover{
  height: 120px;
  width: 120px;
  margin-top:20px;
  background-image:url("../images/sidebar-blogroll-s.png");
}

#content{
  background-color: #FF0000;
  width:78%;
  height:83%;
  overflow:auto;
  position:relative;
  background-color:#FFFFFF;
  text-align:justify;
  z-index: 3;
  background:url("../images/content.png") no-repeat;
  padding-top:20px;
  padding-left:20px;

  /**margin-top:-35%;
  *margin-left: 16%;
  *padding: -35% 50% 50% 50%;
  *width:58%;
  *overflow:auto;
  *position:relative;
  *background-color:#FFFFFF;
  *text-align:justify;
  *z-index: 3;
  *background:url("../images/content_ie.png") no-repeat;*/

  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -khtml-background-size: 100% 100%;
}

#bottom{
    width:100%;
    height:2%;
    position:relative;
    float:bottom;
    background-color:#000000;
    color:#FFFFFF;
    z-index: 2;
    text-align:center;
}

/*Tabela*/
table.list {border-bottom: 2px solid #F99F43; border-left: 2px solid #F99F43; border-right: 2px solid #F99F43; border-top: 2px solid #F99F43}
table.list th  {border-bottom: 2px solid #F99F43; border-left: 2px solid #F99F43 }
table.list tbody td, table.list tbody tr td { border-bottom: dotted 1px #F99F43; border-left: 1px dotted #F99F43; border-right: 1px dotted #F99F43; border-top: 1px dotted #F99F43; font-size: 11px; padding:7px 10px 7px 3px; }
table.list thead th {
	border:1px solid #F99F43;
	font-size:12px;
	font-weight:normal;
	padding:0pt 3px 3px;
	text-transform:bold;
}

table.list thead th a { color: #F99F43; }
table.list thead th a:hover { color: #F99F43; }

/* Issues grid styles by priorities (provided by Wynn Netherland) */

table.list td { padding: 11px 20px 20px 11px; border-top: 1px solid #F99F43; border-right: 1px solid #F99F43 }


table.list ul {margin-top: 10px; margin-bottom: 10px; margin-left: 0; padding-left: 1em}

table.list li { margin-bottom: 10px }

