#linkdesign{
  height: 70px;
  width: 248px;
}

#linkdev{
  margin-top: 16px;
  height: 70px;
  width: 483px;
}

#linkaudiovideo{
  margin-top: 16px;
  height: 70px;
  width: 403px;
}

#linkpoetry{
  margin-top: 16px;
  height: 70px;
  width: 242px;
}

#linkabout{
  margin-top: 16px;
  height: 70px;
  width: 251px;
}

#page_title{
  margin-top: 64px;
}

