<%#= render :partial => "/shared/content_page" %>
<%= stylesheet_link_tag 'home' %>
<a href="design">   <div id="linkdesign" > </div> </a>
<a href="development">   <div id="linkdev" > </div> </a>
<a href="audiovideo">   <div id="linkaudiovideo" > </div> </a>
<a href="poetry">   <div id="linkpoetry" > </div> </a>
<a href="about">   <div id="linkabout" > </div> </a>
<div id=page_title> <h1>Menu</h1></div>

