<%#= render :partial => "/shared/content_page" %>
<div id="linkdesign" >
   <a target="_blank" href="/design">   <img src="../images/link-design.png" onmouseover="this.src='../images/link-design-s.png'" onmouseout="this.src='../images/link-design.png'" border="0" alt="blog tecnounao" />  </a>
</div>

<div id="linkdev" >
   <a target="_blank" href="/dev">   <img src="../images/link-dev.png" onmouseover="this.src='../images/link-dev-s.png'" onmouseout="this.src='../images/link-dev.png'" border="0" alt="blog tecnounao" />  </a>
</div>

<div id="linkaudiovideo" >
   <a target="_blank" href="/audiovideo">   <img src="../images/link-audiovideo.png" onmouseover="this.src='../images/link-audiovideo-s.png'" onmouseout="this.src='../images/link-audiovideo.png'" border="0" alt="blog tecnounao" />  </a>
</div>

<div id="linkpoetry" >
   <a target="_blank" href="/poetry">   <img src="../images/link-poetry.png" onmouseover="this.src='../images/link-poetry-s.png'" onmouseout="this.src='../images/link-poetry.png'" border="0" alt="blog tecnounao" />  </a>
</div>

<div id="linkabout" >
   <a target="_blank" href="/about">   <img src="../images/link-about.png" onmouseover="this.src='../images/link-about-s.png'" onmouseout="this.src='../images/link-about.png'" border="0" alt="blog tecnounao" />  </a>
</div>

<div id="page_title"> <h1>Menu</h1></div>

