<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Am(a)dora - ver um subtítulo legal! </title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'prototype' %>
  </head>

  <p style="color: green"><%= notice %></p>
  <body>
    <div id="font_format">
      <div id="container">
        <div id="topo">
          Am(a)dora
        </div>

        <div id="lateraldireita">
          <div id="imagemdireita" > DIREITA EXEMPLO </div>
            <a target="_blank" href="http://www.iff.edu.br"> <div id='imagemiff'>  </div></a>
          <br/>
        </div>

        <div id="content">
          <%= yield %>
       </div>

       <div id="rodape">
         <div align=right> <font size=1px> Melhor visualizado em tela cheia - F11 </font> </div>
       </div>

      </div>
    </div>
  </body>
</html>

