<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Am(a)dora - fall in love! </title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'prototype' %>
  </head>

  <body>
    <div id="container">
      <div id="top"> <a href="/">
        <div id="title" > </div> </a>
        <div id="subtitle" > </div>
      </div>

      <div id="sidebar">
        <center>
          <a target="_blank" href="http://mariounaum.tumblr.com">   <div id="blogbutton1" > </div> </a>
          <a target="_blank" href="http://tecnounao.wordpress.com">   <div id="blogbutton2" > </div> </a>
          <a  href="/contact">   <div id="contactbutton" > </div> </a>
          <a  href="/blogroll">   <div id="blogrollbutton" > </div> </a>
        </center>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="bottom">
        <div align=right>
          <font size=1px> Você pode quase tudo (veja a licença):
          <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/br/"><img alt="licença creative commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/2.5/br/80x15.png" /></a>
          Melhor visualizado em tela cheia - F11  </div>
      </div>

    </div>
  </body>
</html>

